<h1 class="title">Editing Raffle</h1>

<%= render 'form', raffle: @raffle %>

<%= link_to 'Show', @raffle, class: 'button is-outlined'%>
<%= link_to 'Back', raffles_path, class: 'button is-outlined' %>
