
<section class='hero is-Light welcome is-small'>
  <div class='hero-body'>
    <h1 class="title">Sorteos Realizados</h1>
    <h2 class="subtitle">Resultado de sorteos realizados</h1>
  </div>
</section>

<table class = 'table is-hoverable'>
  <thead>
    <tr>
      <th>Estado Asignación</th>
      <th>Usuario - Placa</th>
      <th>Parqueadero</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @raffles.each do |raffle| %>
      <tr>
        <td><%= raffle.assigned %></td>
        <td><%= raffle.applicant.plate %></td>
        <td><%= raffle.parking.name %></td>
        <td><%= link_to 'Detalles', raffle, class: "button is-small is-primary is-rounded is-outlined" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
