<section class='hero is-Light welcome is-small'>
  <div class='hero-body'>
    <h1 class="title">Sorteo</h1>
    <h2 class="subtitle">Nuevo Sorteo</h1>
  </div>
</section>

<div class='column is-one-quarter'>
  <%= render 'form', raffle: @raffle %>
</div>