<section class='hero is-Light welcome is-small'>
  <div class='hero-body'>
    <h1 class="title">Usuario</h1>
    <h2 class="subtitle">Editar Usuario</h1>
  </div>
</section>

<div class="column is-one-quarter">
  <%= render 'form', applicant: @applicant %>

  <%= link_to 'Show', @applicant, class: 'button is-outlined' %>
  <%= link_to 'Back', applicants_path, class: 'button is-outlined' %>
</div>

