<section class='hero is-Light welcome is-small'>
  <div class='hero-body'>
    <h4 class="subtitle has-text-centered">Sorteo Parqueaderos Ciudad Central</h4>
  </div>
</section>

<figure class='image is-1by1'>
  <%= image_tag ("/assets/Fachada_Ciudad_Central.jpg")%>
</figure>

<br>

<div class="content has-text-centered">
  <% if @end_raffle %>
    <%= link_to 'Sorteo Finalizado', home_index_path, class: 'button is-large is-rounded'%>
  <% elsif @raffle_count > 0%>
    <%= link_to 'Continuar Sorteo', new_raffle_path, class: 'button is-large is-primary is-rounded'%>
  <% else %>
    <%= link_to 'Iniciar Sorteo', new_raffle_path, class: 'button is-large is-primary is-rounded'%> 
  <% end %>
</div>
