<h1 class="title">Editing Parking</h1>

<%= render 'form', parking: @parking %>

<%= link_to 'Show', @parking, class: 'button is-rounded is-outlined' %>
<%= link_to 'Back', parkings_path, class: 'button is-rounded is-outlined' %>
